.timeline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.timeline-container .timeline {
    width: 90%;
    height: 90%;
    background-color: lightblue;
     display: flex;
    align-items: center;
    justify-content: center;
}